<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" rel="stylesheet">
</head>

<body>

<h1>Vorlesungsverzeichnis</h1>

<!--<label for="filtereinstellung">Wähle eine Filteroption:</label>-->
<!--<select id="filtereinstellung" name="filtereinstellung">-->
<!--    <option value="bezeichnung">Vorlesung</option>-->
<!--    <option value="wochentag">Wochentag</option>-->
<!--</select>-->


<h3>Suche:</h3>
<form>
    <input name="alleFilter" th:value="${filter}" type="text">
    <input type="submit">
</form>


<form method="post">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Vorlesungstitel</th>
            <th scope="col">Wochentag</th>
            <th scope="col">ausgewählte Vorlesungen</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="vorlesung : ${Vorlesungsverzeichnis}">
            <td th:text="${vorlesung.bezeichnung}"></td>
            <td th:text="${vorlesung.wochentag}"></td>
            <td>
                <div class="form-check form-switch">
                    <input class="form-check-input" id="flexSwitchCheckDefault" type="checkbox">
                    <label class="form-check-label" for="flexSwitchCheckDefault"></label>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</form>
<button class="btn btn-primary btn-lg" type="button">Large button</button>


</body>
</html>